@model OrderingSystem.ViewModels.CartVIewModel
@{

}

@Html.AntiForgeryToken()

@if (!Model.HasItems)
{
     <div class="container py-4">
        <div class="alert alert-warning mt-3 text-center" style="margin-top: 4.5rem">
            Your cart is empty.
        </div>
     </div>
    
}
else
{
    <div class="container py-5">

        <div class="card shadow rounded-4 p-3">
            <h5 class="mb-3">Order details</h5>

            @foreach (var item in Model.CartItems)
            {
                <div class="d-flex justify-content-center align-items-center gap-3 mb-3">
                    <div>
                        <img src="@item.ImageUrl" class="img-thumbnail" width="80px" height="80px" />
                    </div>
                    <div class="col">
                        <p>@item.ProductName</p>
                    </div>
                    <div class="col text-end">
                        <p>₱ <span id="subtotal-@item.Id">@((item.Price * item.Quantity).ToString("N2"))</span></p>
                    </div>
                
                </div>

                
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <a asp-action="Remove" asp-route-cartItemId="@item.Id" class="text-danger fw-bold" style="text-decoration: none;">Remove</a>
                    <div class="quantity-controls input-group align-content-center" data-id="@item.Id" data-price="@item.Price">
                        <button class="btn btn-outline-secondary btn-sm minus">−</button>
                        <input type="text" class="qty form-control d-inline-block text-center bg-transparent border-0" value="@item.Quantity" readonly />
                        <button class="btn btn-outline-secondary btn-sm plus">+</button>
                    </div>
                </div>

            }

            <div class="border-bottom mb-3"></div>

            <div class="d-flex justify-content-between  mb-3">
                <strong>Total</strong>
                <strong>
                    ₱
                    <span id="overall-total">
                         @Model.CartItems.Sum(x => x.Price * x.Quantity).ToString("N2")
                    </span>
                </strong>
                
            </div>

            <div class="checkout-order-container d-flex justify-content-center gap-3">
                <a asp-controller="Menu" class="btn btn-warning text-white fw-bold">ORDER MORE</a>
                <a asp-controller="Checkout" class="btn btn-success fw-bold" id="btn-checkout">CHECKOUT</a>

            </div>
            <div id="spinner" style="display:none" class="text-center mt-2">
                <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

        </div>
       
       
    </div>
   
}


<!-- Reloder -->
@* <div id="loader" style="display:none">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status"></div>
    </div>
</div> *@
