@model OrderingSystem.ViewModels.CheckoutViewModel
@{
}
<link rel="stylesheet" href="~/css/checkout.css" asp-append-version="true" />
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- Flatpickr -->
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<form asp-action="PlaceOrder" method="post">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow rounded-4" id="card-shadow">
                    <h5 class="fw-bold mb-3">Delivery Option</h5>

                    <label class="mb-2">Choose delivery time</label>
                    <div class="d-flex gap-5 align-items-center justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="deliveryOption" id="deliverNow" value="now" checked />
                            <label class="form-check-label">Deliver now</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="deliveryOption" id="deliverLater" value="later" />
                            <label class="form-check-label">Schedule Delivery</label>
                        </div>
                    </div>

                    <div class="row schedule-options mt-2">
                        <div class="col mb-2">
                            <input type="text" class="form-control" id="scheduleDate" asp-for="ScheduledDate" placeholder="Select Date" />
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="scheduleTime" asp-for="ScheduledTime" placeholder="Select Time" />
                        </div>
                    </div>
                </div> <br />

                <div class="card shadow rounded-4" id="card-shadow">
                    <h5 class="fw-bold mb-3">Your Information</h5>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Fullname">Name</label>
                        <input type="text" class="form-control" name="Fullname" value="@Model.Fullname" asp-for="Fullname" />
                    </div>
                    <span asp-validation-for="Fullname" class="text-danger small" ></span>
                    <div class="mb-3">
                        <label class="form-label" asp-for="PhoneNumber">Phone Number</label>
                        <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" asp-for="PhoneNumber" />
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger small"></span>

                    <div class="row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <div class="card">
                                <div class="card-header">
                                    <input class="form-check-input" type="radio" id="useCurrent" name="addressOption" value="current" checked />
                                    <strong for="useCurrent">Use Current Location</strong>
                                </div>
                                <div class="card-body">
                                    <label class="text-muted" id="currentAddress"></label>
                                    <input type="hidden" id="hiddenCurrentAddress" name="CurrentAddress" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <div class="card">
                                <div class="card-header">
                                    <input class="form-check-input" type="radio" id="enterManual" name="addressOption" value="manual" />
                                    <strong for="enterManual">Enter Manual Location</strong>
                                </div>
                                <div class="card-body">
                                    <div class="mb-2 position-relative">
                                        <input type="text" class="form-control" id="address" name="ManualAddress" readonly>
                                        <ul id="autocomplete-list" class="list-group position-absolute z-3 w-100" style="max-height: 250px; overflow-y: auto;"></ul>
                                    </div>
                                    <span asp-validation-for="ManualAddress" class="text-danger small"></span>
                                    <div class="d-flex justify-content-end mb-3">
                                        <button type="button" class="btn btn-sm btn-primary" id="toogleAddressBtn">Change</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                   @*  <div class="mb-2 position-relative">
                        <label>Address</label>
                        <input type="text" class="form-control" id="address" name="Address" asp-for="Address" value="@Model.Address" readonly>
                        <ul id="autocomplete-list" class="list-group position-absolute z-3 w-100" style="max-height: 250px; overflow-y: auto;"></ul>
                    </div> *@
                    <div id="spinner" class="text-center mt-2">
                        <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                   @*  <div class="d-flex justify-content-end mb-3">
                        <button type="button" class="btn btn-sm btn-primary" id="toogleAddressBtn">Change</button>
                    </div> *@
                    <div class="mb-3">
                        <label asp-for="DeliveryNote" class="form-label">Delivery Note(Optional)</label>
                        <textarea class="form-control" asp-for="DeliveryNote" rows="4" placeholder="Note to rider"></textarea>
                    </div>
                </div> <br />

            </div>
            <div class="col-md-6">
                @* <div class="card shadow rounded-4" id="card-shadow">
                <h5 class="fw-bold mb-4">Payment Details</h5>
                <label></label>
                <!-- GCash -->
                <div class="payment-option d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center gap-3">
                <i class="icon-gcash"></i>
                <div>
                <div class="fw-bold text-primary">GCash</div>
                <small>Pay online</small>
                </div>
                </div>
                <input type="radio" class="form-check-input payment-radio" name="PaymentMethod" value="gcash" checked />
                </div>
                </div> <br /> *@


                <div class="card shadow rounded-4" id="card-shadow">
                    <h5 class="fw-bold mb-3">Order Details</h5>
                    <table class="table table-borderless">

                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td align="right">₱ @((item.Price * @item.Quantity).ToString("N2"))</td>
                                </tr>
                            }
                            @for (int i = 0; i < Model.CartItems.Count; i++)
                            {
                                <input type="hidden" name="CartItems[@i].ProductId" value="@Model.CartItems[i].ProductId" />
                                <input type="hidden" name="CartItems[@i].ProductName" value="@Model.CartItems[i].ProductName" />
                                <input type="hidden" name="CartItems[@i].Price" value="@Model.CartItems[i].Price" />
                                <input type="hidden" name="CartItems[@i].Quantity" value="@Model.CartItems[i].Quantity" />
                            }
                        </tbody>
                    </table>

                    <div class="border-bottom"></div><br />
                    <div class="d-flex">
                        <div class="col">
                            <p>Subtotal:</p>
                            <p>Delivery Fee:</p>
                        </div>
                        <div class="col text-end total-container">
                            <input type="hidden" id="subtotalInput" asp-for="SubTotal" />
                            <p>₱ <span id="subtotal">@Model.SubTotal.ToString("N2")</span> </p>

                            <input type="hidden" id="deliveryInput" asp-for="DeliveryFee" />
                            <p>₱ <span id="deliveryFee">@Model.DeliveryFee.ToString("N2")</span> </p>
                        </div>
                    </div>
                    <div class="border-bottom"></div><br />
                    <div class="d-flex justify-content-between mb-3">
                        <div class="col">
                            <strong>Total</strong>
                        </div>
                        <div class="col text-end">
                            <input type="hidden" id="totalAmountInput" />
                            <strong>₱ <span id="total">@Model.TotalAmount.ToString("N2")</span> </strong>
                        </div>
                    </div>

                    <button class="btn btn-danger w-100 mb-2" asp-controller="Cart" asp-action="Index">Back to Cart</button>
                    <button class="btn btn-primary w-100" asp-action="CreatePayment" id="proceedToPayment">Proceed to Payment</button>
                </div>

            </div>

        </div>
    </div>



</form>



<script src="~/js/checkout.js" asp-append-version="true"></script>
<script src="~/js/delivery.js" asp-append-version="true"></script>

