@model OrderingSystem.ViewModels.CheckoutViewModel
@{
}
<link rel="stylesheet" href="~/css/checkout.css" asp-append-version="true" />
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- Flatpickr -->
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<form asp-action="PlaceOrder" method="post">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow rounded-4" id="card-shadow">
                    <h5 class="fw-bold mb-3">Delivery Option</h5>

                    <label class="mb-2">Choose delivery time</label>
                    <div class="d-flex gap-5 align-items-center justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="deliveryOption" id="deliverNow" value="now" checked />
                            <label class="form-check-label">Deliver now</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="deliveryOption" id="deliverLater" value="later" />
                            <label class="form-check-label">Schedule Delivery</label>
                        </div>
                    </div>

                    <div class="row schedule-options mt-2">
                        <div class="col mb-2">
                            <input type="text" class="form-control" id="scheduleDate" asp-for="ScheduledDate" placeholder="Select Date" />
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="scheduleTime" asp-for="ScheduledTime" placeholder="Select Time" />
                        </div>
                    </div>
                </div> <br />

                <div class="card shadow rounded-4" id="card-shadow">
                    <h5 class="fw-bold mb-3">Your Information</h5>
                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" class="form-control" name="Fullname" value="@Model.Fullname" readonly />
                    </div>
                    <div class="mb-3">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" readonly />
                    </div>
                    <div class="mb-3">
                        <label>Address</label>
                        <textarea class="form-control" name="Address" rows="3" readonly>@Model.Address</textarea>
                    </div>
                    <div class="mb-3">
                        <label asp-for="DeliveryNote" class="form-label">Delivery Note(Optional)</label>
                        <textarea class="form-control" asp-for="DeliveryNote" rows="4" placeholder="Note to rider"></textarea>
                    </div>
                </div> <br />

            </div>
            <div class="col-md-6">
                <div class="card shadow rounded-4" id="card-shadow">
                    <h5 class="fw-bold mb-4">Payment Details</h5>
                    <label></label>
                    <!-- GCash -->
                    <div class="payment-option d-flex align-items-center justify-content-between ">
                        <div class="d-flex align-items-center gap-3">
                            <i class="icon-gcash"></i>
                            <div>
                                <div class="fw-bold text-primary">GCash</div>
                                <small>Pay online</small>
                            </div>
                        </div>
                        <input type="radio" class="form-check-input payment-radio" name="PaymentMethod" value="gcash" checked />
                    </div>
                </div> <br />


                <div class="card shadow rounded-4" id="card-shadow">
                    <h5 class="fw-bold mb-3">Order Details</h5>
                    <table class="table table-borderless">

                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td align="right">₱ @item.Price.ToString("N2")</td>
                                </tr>
                            }
                            @for (int i = 0; i < Model.CartItems.Count; i++)
                            {
                                <input type="hidden" name="CartItems[@i].ProductId" value="@Model.CartItems[i].ProductId" />
                                <input type="hidden" name="CartItems[@i].Price" value="@Model.CartItems[i].Price" />
                                <input type="hidden" name="CartItems[@i].Quantity" value="@Model.CartItems[i].Quantity" />
                            }
                        </tbody>
                    </table>

                    <div class="border-bottom"></div><br />
                    <div class="d-flex">
                        <div class="col">
                            <p>Subtotal:</p>
                        </div>
                        <div class="col text-end total-container">
                            <p>₱ @Model.CartItems.Sum(x => x.Price * x.Quantity).ToString("N2")</p>
                        </div>
                    </div>

                    <button class="btn btn-primary w-100" asp-action="PlaceOrder">Place Order</button>
                </div>

            </div>

        </div>
    </div>

</form>

<script src="~/js/checkout.js" asp-append-version="true"></script>

