@model OrderingSystem.ViewModels.OrderViewModel
@{
}

<div class="container text-center mt-5">
    <div class="card shadow p-5">
        <div class="d-flex justify-content-center">
            <img src="~/uploads/images/payment-success.png" alt="Success" style="width: 100px;" class="mb-4 " />
        </div>

        <h2 class="text-success">Thank You, @ViewBag.CustomerName</h2>
        <p class="lead">Your payment has been successfully processed.</p>
        <p class="mt-3">Order Number: <strong>@ViewBag.OrderNum</strong></p>


        <div class="card shadow rounded-4 p-3">
            @foreach (var item in Model.OrderItems)
            {
                <div class="row">
                    <div class="col-6 col-md-4">
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" width="150" height="150" class="img-thumbnail" />
                        }
                        else
                        {
                            <span class="text-muted">No Image</span>
                        }
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="text-start">
                            <strong class="mb-3">@item.ProductName</strong>
                            <p>₱ @item.Price.ToString("N2")</p>
                        </div>

                    </div>
                    <div class="col mb-2">

                        <strong>Qty: @item.Quantity</strong>


                    </div>
                </div>
            }

            <hr />

            <div class="row">
                <div class="col">
                    <div class="text-start mb-4">
                        <strong class="text-start">Note</strong>
                        <p>
                            @Model.DeliveryNote
                        </p>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex justify-content-between">
                        <p>Subtotal</p>
                        <span><strong>₱ @Model.SubTotal.ToString("N2")</strong></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Delivery Fee</p>
                        <span><strong>₱ @Model.DeliveryFee.ToString("N2")</strong></span>
                    </div>

                    <div class="border-bottom"></div>
                    <div class="d-flex justify-content-between">
                        <p>Total</p>
                        <span><strong>₱ @Model.TotalAmount.ToString("N2")</strong></span>
                    </div>
                </div>

            </div>
        </div>
        <br />

        <p class="mb-1">Your order is being prepared.</p>
        <small>
            View your pending orders
            <a asp-controller="Account" asp-action="Profile">here</a>
        </small>

    </div>


</div>
